<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AutoInject" value="true" />
        <add key="InjectDelaySeconds" value="45" />
		<add key="AutoStart" value="true" />
		<add key="AutoCheckXL" value="true" />
		<add key="RootPath" value="true" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>